:root {
  --cell-size: 80px;
  --cell-gap: 2px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-container {
  width: 80vw;
  height: 80vw;
  max-width: 80vh; 
  max-height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.square-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 2px; 
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-field {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, var(--cell-size));
  gap: var(--cell-gap);
  margin: 20px auto;
  max-width: calc(9 * var(--cell-size) + 8 * var(--cell-gap));
  background-color: #444c56;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sudoku-row {
  display: contents;
}

.sudoku-cell {
  width: 100%;
  height: var(--cell-size);
  text-align: center;
  font-size: calc(var(--cell-size) * 0.55);
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #e0e3ff;
  color: #000000;
  border-radius: 0px;
  caret-color: transparent;
}

.sudoku-cell:focus {
  outline: none;
  background-color: #c9c9c9;
}

.sudoku-cell::placeholder {
  color: #ffffff;
}

.sudoku-grid .sudoku-cell:nth-child(3n+1) {
  border-left: 5px solid #000;
}

.sudoku-grid .sudoku-row:nth-child(3n+1) .sudoku-cell {
  border-top: 5px solid #000;
}

.sudoku-grid .sudoku-cell:nth-child(9n) {
  border-right: 5px solid #000;
}

.sudoku-grid .sudoku-row:nth-child(9) .sudoku-cell {
  border-bottom: 5px solid #000;
}

.custom-button {
  background-color: #5f62ff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.05s, transform 0.1s;
  margin-top: 10px;
  margin-left: 10px;
}

.custom-button:hover {
  transform: scale(1.05);
}

.custom-button:active {
  background-color: #3e44b3;
  transform: scale(1);
}

.custom-button:focus {
  outline: none;
}
